.App {
    font-family: sans-serif;
    text-align: center;
  }

.title {
    padding-top: 5%;
  }
  
  .box {
    overflow-wrap: normal;
    margin: 80px;
    position: relative; /* 2 */
  }
  
  ul {
    display: inline-block;
    text-align: left;
  }

  .rules{
    display: inline-block;
    text-align: left;
    background: whitesmoke;
    margin: auto;
    margin-top: 5%;
    max-width: 30%;
    padding: 20px 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid red;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
